/* PasswordLoginWithFirebase.module.css */

.signup {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8rem;
    background-color: rgb(141, 141, 252);
  }
  
  .row {
    align-items: center;
    display: flex;
   
    margin-bottom: 20px;
    margin-right: 5rem;
  }
  
  .pointer {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .activeColor {
    color: black ;
    font-weight: bold/* or any color you prefer */
  }
  
  .row div {
    margin: 0 60px;
    margin-bottom: 1rem;
  }
  

 .inputs {
    /* margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8rem;
    border: none; */
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttons {
    background-color: #4caf50; /* Green */
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-left: 9rem;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  p {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
